.card-container {
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name {
  font-size: 15px;
  font-weight: 500;
  color: #e73959;
  font-family: 'Roboto';
}
.count-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.star-image {
  height: 20px;
  width: 20px;
}
.count {
  font-size: 14px;
  color: #1e293b;
}
.avatar-img {
  width: 100px;
  margin-bottom: 1rem;
}
